# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

defmodule DatabaumLeafWetnessAPI(Dev).Api.Prediction do
  @moduledoc """
  API calls for all endpoints tagged `Prediction`.
  """

  alias DatabaumLeafWetnessAPI(Dev).Connection
  import DatabaumLeafWetnessAPI(Dev).RequestBuilder


  @doc """
  Predict

  ## Parameters

  - connection (DatabaumLeafWetnessAPI(Dev).Connection): Connection to server
  - leaf_wetness_prediction_request (LeafWetnessPredictionRequest): 
  - opts (KeywordList): [optional] Optional parameters
  ## Returns

  {:ok, DatabaumLeafWetnessAPI(Dev).Model.LeafWetnessPredictionResponse.t} on success
  {:error, Tesla.Env.t} on failure
  """
  @spec predict_api_v1_prediction_post(Tesla.Env.client, DatabaumLeafWetnessAPI(Dev).Model.LeafWetnessPredictionRequest.t, keyword()) :: {:ok, DatabaumLeafWetnessAPI(Dev).Model.HttpValidationError.t} | {:ok, DatabaumLeafWetnessAPI(Dev).Model.LeafWetnessPredictionResponse.t} | {:error, Tesla.Env.t}
  def predict_api_v1_prediction_post(connection, leaf_wetness_prediction_request, _opts \\ []) do
    %{}
    |> method(:post)
    |> url("/api/v1/prediction")
    |> add_param(:body, :body, leaf_wetness_prediction_request)
    |> Enum.into([])
    |> (&Connection.request(connection, &1)).()
    |> evaluate_response([
      { 200, %DatabaumLeafWetnessAPI(Dev).Model.LeafWetnessPredictionResponse{}},
      { 422, %DatabaumLeafWetnessAPI(Dev).Model.HttpValidationError{}}
    ])
  end
end
