# NOTE: This file is auto generated by OpenAPI Generator 6.1.1-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule DatabaumLeafWetnessAPI.Api.Users do
  @moduledoc """
  API calls for all endpoints tagged `Users`.
  """

  alias DatabaumLeafWetnessAPI.Connection
  import DatabaumLeafWetnessAPI.RequestBuilder

  @doc """
  Me

  ### Parameters

  - `connection` (DatabaumLeafWetnessAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, DatabaumLeafWetnessAPI.Model.UserResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec me_api_v1_users_me_get(Tesla.Env.client, keyword()) :: {:ok, DatabaumLeafWetnessAPI.Model.UserResponse.t} | {:error, Tesla.Env.t}
  def me_api_v1_users_me_get(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/api/v1/users/me")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %DatabaumLeafWetnessAPI.Model.UserResponse{}}
    ])
  end
end
